<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max Coach clone</title>
</head>
<body>
    <div id="app">
        <!-- header -->
        <header id="header_container" class="header_container">
            <div class="navbar_container d_flex">
                <div class="logo">
                    <a href=""><img src="./assets/img/dark-logo.png" alt="page logo"></a>
                </div>
                <nav class="navbar">
                    <ul class="navbar_opt d_flex quit_dot capitalize_text">
                        <li>home<i class="fas fa-chevron-down"></i></li>
                        <li>pages<i class="fas fa-chevron-down"></i></li>
                        <li>courses<i class="fas fa-chevron-down"></i></li>
                        <li>features<i class="fas fa-chevron-down"></i></li>
                        <li>blog<i class="fas fa-chevron-down"></i></li>
                        <li>shop<i class="fas fa-chevron-down"></i></li>
                    </ul>
                </nav>
                <div class="lang_search">
                    <ul class="d_flex quit_dot d_flex">
                        <li><img :src="flagsLang[counter]" alt=""></li>
                        <li>
                            <select name="languages" id="languages" class="uppcase_text" v-model="counter">
                                <option value="" v-for="language in languages" v-bind:value="language.value">{{language.text}}</option>
                            </select>
                        </li>
                        <li><i class="far fa-user-circle"></i></li>
                        <li>
                            <div class="search_box d_flex">
                                <input type="text" placeholder="Search..."><i class="fas fa-search"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner d_flex">
                <img alt="" :src="dudeBanner">
                <div class="banner_presentation">
                    <p class="meadow_color capitalize_text">new challenges, new skills.</p>
                    <h1 class="uppcase_text">build your own life coaching business</h1>
                    <p><small>Whole-Life Business Coaching for committed enterpreneurs</small></p>
                    <div class="banner_button">
                        <button class="capitalize_text meadow_bg_color">get started today</button>
                    </div>
                </div>
                
               <div class="icons_banner">
                <ul>
                    <li v-for="icon in iconsBanner" class="quit_dot"><i :class="icon"></i></li>
                </ul>
               </div>
            </div>    
        </header>
        <!-- /header -->
        <main>
            <section  class="explain_business"></section>
            <section  class="services"></section>
            <section  class="courses"></section>
            <section  class="video_business"></section>
            <section  class="event_section"></section>
            <section  class="feedbacks"></section>
            <section  class="newsletters"></section>
        </main>
        <footer>
            <ul class="adress_list"></ul>
            <ul class="explore_list"></ul>
            <ul class="information_list"></ul>
            <h4 class="copyright"></h4>
        </footer>
    </div>
    <!-- vue & js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
    <!-- /vue & js -->
</body>
</html>