<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max Coach clone</title>
</head>
<body>
    <div id="app">
        <!-- header -->
        <header id="header_container" class="header_container">
            <div class="navbar_container d_flex">
                <div class="logo">
                    <a href=""><img :src="logoHeader" alt="page logo"></a>
                </div>
                <nav class="navbar">
                    <ul class="navbar_opt d_flex quit_dot capitalize_text">
                        <li>home<i class="fas fa-chevron-down"></i></li>
                        <li>pages<i class="fas fa-chevron-down"></i></li>
                        <li>courses<i class="fas fa-chevron-down"></i></li>
                        <li>features<i class="fas fa-chevron-down"></i></li>
                        <li>blog<i class="fas fa-chevron-down"></i></li>
                        <li>shop<i class="fas fa-chevron-down"></i></li>
                    </ul>
                </nav>
                <div class="lang_search">
                    <ul class="d_flex quit_dot d_flex">
                        <li><img :src="flagsLang[counter]" alt=""></li>
                        <li>
                            <select name="languages" id="languages" class="uppcase_text" v-model="counter">
                                <option value="" v-for="language in languages" v-bind:value="language.value">{{language.text}}</option>
                            </select>
                        </li>
                        <li><i class="far fa-user-circle"></i></li>
                        <li>
                            <div class="search_box d_flex">
                                <input type="text" placeholder="Search..."><i class="fas fa-search"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="banner d_flex">
                <img alt="" :src="dudeBanner">
                <div class="banner_presentation">
                    <p class="meadow_color capitalize_text">new challenges, new skills.</p>
                    <h1 class="uppcase_text">build your own life coaching business</h1>
                    <p><small>Whole-Life Business Coaching for committed enterpreneurs</small></p>
                    <div class="banner_button">
                        <button class="capitalize_text meadow_bg_color">get started today</button>
                    </div>
                </div>
                
               <div class="icons_banner">
                <ul>
                    <li v-for="icon in iconsBanner" class="quit_dot"><i :class="icon"></i></li>
                </ul>
               </div>
            </div>    
        </header>
        <!-- /header -->
        <main>
            <!-- explain business section -->
            <section  class="explain_business">
                <p class="meadow_color capitalize_text">let's dream big together</p>
                <p >
                    We are pioneers of the digital approach, using leading-edge tchnology to simplify procedures and apply execytuve coaching in the new age of digitalization.
                </p>
                <div class="business_box d_flex">
                    <div class="business_cards d_flex">
                        <img src="./assets/img/mezzo_vaso.png" alt="">
                        <div class="info_card">
                            <h5>One to One</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda facilis 
                            </p>
                        </div>
                    </div>
                    <div class="business_cards d_flex">
                        <img src="./assets/img/virgolette_strane.png" alt="">
                        <div class="info_card">
                            <h5>Anywhere</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda facilis 
                            </p>
                        </div>
                    </div>
                    <div class="business_cards d_flex">
                        <img src="./assets/img/puntini_strani.png" alt="">
                        <div class="info_card">
                            <h5>On Time</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda facilis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="business_box  d_flex">
                    <div class="business_cards d_flex">
                        <img src="./assets/img/rettangolo.png" alt="">
                        <div class="info_card">
                            <h5>Online Coures</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda facilis 
                            </p>
                        </div>
                    </div>
                    <div class="business_cards d_flex">
                        <img src="./assets/img/mezzo_cerchio.png" alt="">
                        <div class="info_card">
                            <h5>Consulting</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda facilis

                            </p>
                        </div>
                    </div>
                    <div class="business_cards d_flex">
                        <img src="./assets/img/ingranaggio_strano.png" alt="">
                        <div class="info_card">
                            <h5>Self Development</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui assumenda facilis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="button_business banner_button d_flex">
                    <button class="capitalize_text meadow_color">learn more</button>
                    <button class="capitalize_text meadow_bg_color">get started today</button>
                </div>
            </section>
            <!-- /explain business section -->
            <!-- services -->
            <section  class="services" >
                <p class="meadow_color capitalize_text">let's dream big together</p>
                <h2>Explore How can I help you</h2>
                <div class="service_box d_flex">
                    <div class="service_card" v-for="service in servicesArray[counterArray]">
                        <img :src="service.img" alt="">
                        <h4 class="bold_text capitalize_text">{{service.title}}</h4>
                        <p>{{service.description}}</p>
                        <button class="meadow_color bold_text">{{service.clickInfo}} <i :class="service.iconClass"></i></button>
                    </div>
                </div>
                <div class="service_dots d_flex">
                    <i class="fas fa-circle" :class="index == counterArray ? 'active_dot':''" v-for="(dot, index) in servicesArray.length" @click="changePage(index)"></i>
                </div>
            </section>
            <!-- /services -->
            <!-- courses -->
            <section  class="courses">
                <p class="meadow_color capitalize_text">let's dream big together</p>
                <h2>Explore How can I help you</h2>
                <div class="courses_box d_flex">
                    <div class="course_card" v-for="(course, index) in coursesArray" :style='{backgroundImage: `url("${course.bgCard}")`}' @mouseover="hover = index" @mouseleave="hover = null">
                        <div class="layover_course_card d_flex">
                            <span class="meadow_color bold_text">
                                {{course.price}}<small>{{course.cents}}</small>
                            </span>
                            <h5 class="white_color">{{course.title}}</h5>
                            <div class="hover_info_card" v-if="hover == index">
                                <p class="white_color bold_text">
                                    <i :class="course.iconLesson"></i>
                                    <span>{{course.lessons}} Lessons</span>
                                    <i :class="course.icoStudents"></i>
                                    <span>{{course.students}} Students</span>
                                </p>
                                <p class="white_color">{{course.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                    <p class="final_msg_course">
                        <small>
                            Take the control of their life back and starrt doing things to make their dream come true
                        </small>
                        <button class="bold_text">
                            View all courses
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </button>
                    </p>
            </section>
            <!-- /courses -->
            <!-- video business -->
            <section  class="video_business d_flex">
                    <div class="video_box">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RFxHAKXkgRM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="text_box">
                        <h3>to Thrive inBusiness Today, You'll Need a Good Plan</h3>
                        <ul class="video_text_list" v-for="(text, index) in videoTexts">
                            <li @click="counterVideo = index" :class="counterVideo == index ? 'meadow_color':''" class="bold_text">
                                <i :class="counterVideo == index ? text.arrowDown:text.arrowUp"></i>
                                {{text.title}}
                                <p v-if="counterVideo == index" :class="counterVideo == index ? 'white_color':''">{{text.description}}</p>
                            </li>
                            
                        </ul>
                    </div>
                    <img src="./assets/img/maxcoach-shape-07-100x100.png" alt="">
            </section>
            <!-- /video business -->
            <!-- event section -->
            <section  class="event_section"  @click="counterVideo = null">
                <div class="white_bg_color event_box">
                    <p class="meadow_color capitalize_text bold_text">let's dream big together</p>
                <h2 class="capitalize_text">Uncoming events</h2>
                <div class="d_flex box_card">
                    <div class="event_card d_flex" v-for="date in eventsDate">
                        <div class="day_info d_flex">
                            <span><i class="fas fa-map-marker-alt"></i>{{date.city}}</span>
                            <span class="bold_text">{{date.typeOfEvent}}</span>
                        </div>
                        <div class="ticket_button d_flex">
                            <span class="meadow_color">{{date.day}}</span>
                            <span class="bold_text">{{date.month}}</span>
                            <button class="meadow_bg_color bold_text white_color">get ticket</button>
                        </div>
                    </div>
                </div>
                <p class="final_msg_course">
                    <small>
                        Take the control of their life back and starrt doing things to make their dream come true
                    </small>
                    <button class="bold_text meadow_color">
                        View all courses
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </button>
                </p>
                </div>
                
            </section>
            <!-- /event section -->
            <section  class="feedbacks"></section>
            <section  class="newsletters"></section>
        </main>
        <footer>
            <ul class="adress_list"></ul>
            <ul class="explore_list"></ul>
            <ul class="information_list"></ul>
            <h4 class="copyright"></h4>
        </footer>
    </div>
    <!-- vue & js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
    <!-- /vue & js -->
</body>
</html>