/* general settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
/* /general settings */
/* utility classes */
.d_flex{
    display: flex;
}
.quit_dot{
    list-style-type: none;
}
.capitalize_text{
    text-transform: capitalize;
}
.uppcase_text{
    text-transform: uppercase;
}
.bold_text{
    font-weight: bold;
}
.meadow_color{
    color: #1eae96;
}
.meadow_bg_color{
    background-color: #1eae96;
}
.white_bg_color{
    background-color: white;
}
.white_color{
    color: white;
}
/* black dot class */
i.active_dot{
    color: #343142;
    transform: scale(1.2);
}
/* /black dot class */
/* buttons utility classes */
.banner_button button{
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.banner_button button:focus{
    outline: none;
}
.banner_button button:hover{
    background-color: #343142;
}
.banner_button button:active{
    position: relative;
    top: 1px;
}
/* /buttons utility classes */
/* /utility classes */
/* header */
.navbar_container{
    justify-content: space-between;
    align-items: center;
    /* background-color: khaki; */
}
.logo a img {
    transform: scale(0.4);
}
.navbar_opt li {
    padding: 1rem;
    font-size: 0.8rem;
}
.navbar_opt li i {
    font-size: 0.6rem;
    padding: 0.5rem;
}
/* language opt */
.lang_search ul{
    align-items: center;
}
.lang_search ul li:first-child img{
    transform: scale(0.8);
}
.lang_search ul li {
    padding: 0 0.3rem;
}
.lang_search ul li select{
    border: none;
}
.lang_search ul li select:focus{
    outline: none;
}
.lang_search ul li:nth-child(3){
    margin-right: 0.5rem;
}
/* /language opt */
/* search box */
.lang_search ul li:last-child{
    border-left: 1px solid rgb(187, 187, 187);
    height: 50px;
}
.search_box{
    margin-top: 1rem;
}
.search_box input{
    border: none;
}
.search_box input:focus{
    outline: none;
}
/* /search box */
/* banner */
.banner{
    background-color: #eceeef;
    background-image: url('../img/home-business-hero-global-image.png');
    background-position-x: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
    position: relative;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.banner img {
    height: 33rem;
    align-self: flex-end;
    margin-right: 10rem;
}
.banner_presentation{
    margin-left: 10rem;
    width: 30rem;
    height: auto;
    align-self: center;
}
.banner_presentation p:first-child{
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}
.banner_presentation h1{
    font-size: 3rem;
    width: 90%;
}
.banner_presentation p:nth-child(3){
    padding: 1rem 0;
    font-size: 1.2rem;
    width: 80%;
    
}
.icons_banner ul {
    position: fixed;
    background-color: white;
    box-shadow: -3px 0px 23px -4px rgba(0,0,0,0.55);
    width: 2.5rem;
    right: 0;
    top: 9rem;
    border-radius: 4px;
}
.icons_banner li {
    
    font-size: 1rem;
    text-align: center;
    padding: 0.8rem 0;   
}
/* /banner */
/* /header */
/* main */
/* business  */
.explain_business{
    margin: auto;
    width: 70%;
    padding-top: 3rem;
}
.explain_business p:first-child{
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 0;
}
.explain_business p:nth-last-child(3){
    font-size: 2.1rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 2rem;
}
.business_box{
    justify-content: center;
}
.business_cards{
    height: auto;
    width: 22rem;
    /* border: 1px solid red; */
    margin: 1rem;
}
.business_cards img{
    margin: 0 1rem;
    position: relative;
    bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
}
.info_card h5{
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem 0;
}
.info_card p {
    line-height: 1.5rem;
}
.button_business {
    padding-top: 2rem;
    justify-content: center;
    margin-bottom: 4rem;
}
.button_business button {
    margin: 1rem;
}
.button_business button:first-child{
    color: #1eae96;
    background-color: white;
    border: 1px solid lightgray;
}
.button_business button:first-child:hover{
    background-color: #343142;
    color: white;
}
/* /business  */
/* services */
.services{
    background-color: rgb(246, 246, 246);
}
.services p, .services h2{
    padding: 1rem;
    text-align: center;
    line-height: 1.4rem;
}
.services h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}
.service_box{
    justify-content: center;
}
.service_card img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.service_card {
    width: 17rem;
    height: 24rem;
    margin: 1rem;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 6px 15px -12px rgba(0,0,0,0.91);
}
.service_card h4{
    padding-top: 1rem;
    text-align: center;
}
.service_card p{
    padding: 1rem 1rem;
    font-size: 0.9rem;
    font-weight: 300;
}
.service_card button{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border: none;
    background-color: white;
    border-top: 0.1rem solid rgb(238, 237, 237);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}
.service_card button:focus{
    outline: none;
}
.service_card button:hover{
    background-color: #1eae96;
    color: white;
    cursor: pointer;
}
.service_card button>i {
    padding: 0 0.5rem;
}
.service_dots{
    width: 100%;
    justify-content: center;
}
.service_dots i {
    padding: 0 1rem;
    font-size: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}
.fa-circle{
    color: lightgrey;
}
/* /services */
 /* courses */
 .courses {
     margin-top: 3rem;
 }
 .courses_box{
     justify-content: center;
 }
.courses p, .courses h2 {
    text-align: center;
    margin: 1rem 0;
 }
 .courses h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
 }
 .course_card{
     margin: 0.5rem;
     border-radius: 5px;
     width: 18rem;
     height: 25rem;
     /* border: 1px solid black; */
     background-size: cover;
     position: relative;
 }
 .layover_course_card {
     width: 18rem;
     height: 25rem;
     background: rgb(117,3,217);
    background: linear-gradient(180deg, rgba(117,3,217,1) 0%, rgba(198, 198, 198, 0.495) 0%, rgba(255,255,255,0) 49%, rgba(0,0,0,1) 90%);
 }
 .layover_course_card:hover{
     background-color: rgba(0, 0, 0, 0.434);
 }
 .hover_info_card{
     width: 100%;

 }
 .layover_course_card{
     flex-direction: column;
     justify-content: flex-end;
     padding: 2rem;
 }
 .layover_course_card span {
     padding: 0.5rem 0;
 }
 .layover_course_card h5{
     font-size: 1rem;
 }
/* final msg courses */
p.final_msg_course{
    width: 30rem;
    margin: auto;
    padding: 2rem 0;
    line-height: 2rem;
}
p.final_msg_course button{
    background-color: white;
    border: none;
    box-shadow: 1px 12px 33px -6px rgb(0, 0, 0);
    padding-left: 0.5rem;
}
p.final_msg_course button:focus{
    outline: none;
}
p.final_msg_course button:hover{
    cursor: pointer;
}
p.final_msg_course button:active{
    position: relative;
    top: 1px;
}
p.final_msg_course button i {
    padding-left: 0.5rem;
}
/* /final mesg courses */
 /* /courses */
 /* video courses */
 .video_business {
     width: 100%;
     height: 30rem;
     justify-content: center;
     align-items: center;
     background-color: rgb(37,	36,	51);
     background-image: url('../img/background-map-dots-top-right-transparent.png');
     background-size: contain;
     background-size: 65%;
     background-position: right;
     background-position-y: 0%;
     background-repeat: no-repeat;
     color: white;
    position: relative;
 }
 .text_box{
     width: 30rem;
     padding: 0 2rem;
 }
 .text_box h3{
     font-size: 2rem;
     line-height: 3rem;
     margin-bottom: 2rem;
     width: 80%;
 }
 .video_text_list{
    width: 30rem;
    list-style-type: none;
 }
.video_text_list li{
    border-bottom: 1px solid #bcbcbc;
    line-height: 2rem;

}
.video_business img:last-child{
    position: absolute;
    bottom: 0;
    left: 4rem;
}
 /* /video courses */
 /* event section */
 .event_section{
    background-color: rgb(246, 246, 246);

 }
 .event_box{
     border-bottom-right-radius: 25rem;
 }
 .event_box p, .event_box h2{
     text-align: center;
     padding: 1rem 0;
 }
 .event_box p{
     margin-top: 2rem;
 }
 .event_box h2 {
     font-size: 2.5rem;
 }
 .box_card{
     margin: auto;
     width: 70%;
     flex-wrap: wrap;
 }
 .event_card {
     margin: 1rem;
     width: calc(28rem - 1rem);
     height: 10rem;
     background-color: #eceeef;
     justify-content: space-between;
 }
 .day_info span {
    padding: 0.3rem;
 }
 .day_info i {
     color: lightgray;
     padding-right: 0.5rem;
 }
 .day_info {
     padding: 1rem;
     align-self: flex-start;
     flex-direction: column;
 }
 .ticket_button{
     flex-direction: column;
     align-self: center;
     margin: 2rem;
 }
 .ticket_button span {
     text-align: center;
 }
 .ticket_button span:first-child{
     font-size: 2rem;
 }
 .ticket_button span:last-child{
     font-size: 1.2rem;
 }
 .ticket_button button{
     margin: 1rem;
     width: 7rem;
     padding: 0.3rem;
     border: none;
     border-radius: 5px;

 }
 .ticket_button button:hover{
     background-color: #343142;
     cursor: pointer;
 }
 .ticket_button button:focus{
     outline: none;
 }
 .ticket_button button:active{
     position: relative;
     top: 1px;
 }
  /* /event section */
 /* feedbacks */
 .feedbacks{
    background-color: rgb(246, 246, 246);  
 }
 .feedbacks p, .feedbacks h2{
     text-align: center;
     padding: 1rem 0;

 }
 .feedbacks p:first-child{
     text-align: center;
 }
 .feedbacks p{
    padding-top: 2rem;
    text-align: left;
}
.feedbacks h2 {
    font-size: 2.5rem;
}
.feedback_card{
    flex-direction: column;
    padding: 2rem;
    width: 25rem;
    height: 20rem;
    opacity: 0.5;
}
.opacity{
    opacity: 1;
}
.feedback_box {
    justify-content: space-around;
}
.person_card {
    height: 100%;
    justify-content: right;
}
.person_card img {
    align-self: flex-end;
    height: 5rem;
    border-radius: 50%;
}
.info{
    align-self: flex-end;
    padding: 1rem;
}
.dot_box{
    width: 15rem;
    margin: auto;
}
.dot_box i {
    font-size: 0.7rem;
    margin: 1rem;
    padding: 1rem;
}
 /* /feedbacks */
.newsletters{
    justify-content: center;
    height: 20rem;
}
.newsletters h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}
.newsletters p {
    justify-self: center;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 2rem;
}
.email_box{
    height: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.circle{
    position: relative;
}
.circle i {
    position: absolute;
    font-size: 4rem;
    color: #1eae96;
    opacity: 0.6;
    top: 50%;
    left: -4rem;
}
/* .email_box {
    width: 80%;
    margin-top: 1rem;
    margin: auto;
} */
.email_box{
    margin: auto;
    width: 40rem;
}
.email_box input {
    height: 100%;
    width: 90%;
    background-color: #eceeef;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.email_box input:focus{
    border: none;
    outline: none;
}
.email_box button {
    width: 6rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.email_box button:focus{
    outline: none;
}
.email_box button:active{
    position: relative;
    top: 1px;
}
.sphere {
    position: relative;
}
.sphere img:first-child {
    top: 10%;
    left: -3rem;
    position: absolute;
}
.sphere img:last-child{
    position: absolute;
    top: 30%;
    left: 0;
    left: 1rem;
}
/* footer */
footer{
    position: relative;
    background-color: #282935;
}
.box_footer {
    justify-content: space-around;
    height: 15rem;
    padding-top: 2rem;
}
.box_footer ul{
    list-style-type: none;
}
.box_footer ul li{
    line-height: 2rem;
}
.button_footer {
    position: absolute;
    right: 0;
    bottom: 1rem;
    border-radius: 50%;
    padding: 1rem;
}
/* /footer */
/* /main */
